# Sets

In [1]:
# Set is an unordered collection of Unique elements. It is defined using curly braces {}.

# For Example: Basket of Fruits
basket = {"orange","apple","mango"}
print(basket)

{'orange', 'mango', 'apple'}

In [2]:
# Set doesn't allow duplicate elements. If we write the duplicate elements in set then it will remove it.

basket = {"orange","apple","mango","apple","mango"}
print(basket)

{'orange', 'mango', 'apple'}

In [3]:
# we can also initialize set using set()

basket = set()
basket.add("orange")
basket.add("apple")
basket.add("mango")

print(basket)

{'orange', 'mango', 'apple'}

In [4]:
# We cannot initlaliza Empty set using curly barckets if we do this it will initialize it as dictionary

basket = {}
print(type(basket))

<class 'dict'>

In [5]:
# As the set is a onordered collection of elements So, we cannot access the element using index

basket = {"orange","apple","mango"}
print(basket[0])

TypeError: 'set' object is not subscriptable

In [6]:
# If we have a list of duplicate elemnets and we want to remove the duplicate elements So, we can pass 
# List as an argument to Set

numbers = [1,2,3,4,3,5,6,4]
print(numbers)

unique_numbers = set(numbers)
print(unique_numbers)

[1, 2, 3, 4, 3, 5, 6, 4]
{1, 2, 3, 4, 5, 6}

# Frozen Sets

In [9]:
# Frozen sets are the sets which are immutable.

# As we can add elements to the sets So, there are the cases we want the content of the sets is not changed
# So we can make the sets as frozen sets


numbers = [1,2,3,4,5,2,3,4]

frozen_set = frozenset(numbers)
print(frozen_set)

frozen_set.add(6)

frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'add'

In [11]:
# We an also check whether the elements is present or not using membership operators (in, not in)

x = {"a","b","c"}

print("a" in x)
print("g" in x)

True
False

In [13]:
# We can also iterate over the elements of the sets using the for loop

x = {"a","b","c"}

for i in x:
    print(i)

a
c
b

In [17]:
# Python Sets are similar to the Math sets.
# We can perform the set theory operations like:
# Union (|)
# Intersection (&)
# Difference (-)
# subset (<)

x = {"a","b","c"}
y = {"a","g","h"}

# union -> All Elements
print(x|y)

# Intersection -> Common Elements
print(x&y)

# Difference -> Minus the Elements
print(x-y)

# Subset -> Check x is subset of y
print(x<y)

{'g', 'h', 'a', 'c', 'b'}
{'a'}
{'c', 'b'}
False