# Dataframe Basics

In [ ]:
# Dataframe is a main object in Pandas. It is used to represent data with rows and columns (tabular or 
# excel spreadsheet like data)

# Dataframe is a Data Structure used to represent tabular data.

# Creating Dataframe

In [1]:
import pandas as pd

In [58]:
# read_csv() take the path of the data file you want to read

df = pd.read_csv("Data_Set\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
# Creating dataframe using Python Dictionary

weather_data = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
# shape give the dimension of the dataframe (Number of Rows and Columns)

print(df.shape)

# It is a tuple we can also store it in a variable

rows, columns = df.shape
print(rows)
print(columns)

(6, 4)
6
4

# Dealing with rows and columns

In [12]:
# head() print the only few rows of the dataframe

df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
# We can also give the number of rows want to print

df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [14]:
# tail() print the last five rows

df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
# We can also give the number of rows want to print

df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Indexing and Slicing in Dataframe

In [21]:
# We can access the number of rows using the index sub-range [-:-]

print(df[2:5],'\n') # First number is included second excluded

print(df[:],'\n')

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
# Columns print the name of columns in the dataframe

df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [27]:
# Print the individual column

print(df.day,'\n')

# Or

print(df['day'])

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [30]:
# Print the number of columns

df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [28]:
# type() give the type of the columns

print(type(df['event'])) 

# columns in dataframe are of types pandas series

<class 'pandas.core.series.Series'>

# Operations with Dataframe

In [32]:
# max() give the maximum value in the specific integer column

df['temperature'].max()

35

In [33]:
# max() give the minimum value in the specific integer column

df['temperature'].min()

24

In [34]:
# mean() give the average of the value of specific  integer column

df['temperature'].mean()

30.333333333333332

In [35]:
# std() give the standard deviation of the specific integer colunm

df['temperature'].std()

3.8297084310253524

In [36]:
# describe() print the statistics of the integer columns of dataset 

df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

# conditional selection

In [47]:
# We can also conditionally select the data in the dataframe like SQL

# df[condition]
# df -> give me all the rows in dataframe, [df.temperature >= 32] -> where temperature greater then equal to 32

df[df.temperature >= 32]

# We can also write: df[df['temperature'] >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [39]:
# Find row of maximum temperature

df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [45]:
# Instead of printing all the table we can print the specific columns

# df[condition] give all the columns of the dataframe
# df['column name'][condition] give specific column
# df[['column name','column name']][condition] give number of columns

df['day'][df['temperature'] == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [49]:
# we can also print number of columns
df[['day','temperature']][df['temperature'] == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

# set_index

In [59]:
# By-default the indexs of the data frame are integers

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [67]:
# We can also change the index to something else

df.set_index('day', inplace=True)   #  df.set_index('day') it give the new dataframe no changing in the original
                                    # For changing in the original we have to give inplace=True

In [68]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [69]:
# loc[] give the entire row

df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [70]:
# Reset the index to original one

df.reset_index(inplace=True)

In [71]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [72]:
df.loc[0]

day            1/1/2017
temperature          32
windspeed             6
event              Rain
Name: 0, dtype: object